@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin:0 14px;
    font-size: 28px;
    margin-right: 40px;
}
#logo img{
   height: 42px;
   filter: invert(1);

}
#navbar {
    background-color: #e94949;
    padding: 18px 14px;
    font-family: 'Montagu Slab', serif;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}
#navbar li a:hover{
    color: rgb(0, 0, 0);
    font-size: 32px;
}

#navbar li a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding:13px 20px;
}

#introSection{
    color: white;

    font-family: 'Ubuntu', sans-serif;
    font-size: 65px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:40px;
    background: url("/static/danceAcademy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:425px;
  
}
#introSection div.small{
     font-size: 52px;
}
#missionSection{
    margin: auto;
    width: 90%;
    
    height:326px;
    background-color: #fcfcfcbd; 

}
#missionSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
   
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin:23px 20px;
    height: 209px;
    background-color: #f1c0c0bd;
}
.card h3{
    text-align: center;
    margin: 15px 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
div.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
div.card-img{
    height: 131px;
    padding: 0 14px;
    margin:5px 9px;
}

div.card-img img{
    height: inherit;
    
}
div.card-content{
    padding: 0 10px;
}
div.card-content p{
   font-size: 19px;
}

#sponsorSection{
    height:300px;
  background-color: #f1b6b6bd; 
}
#sponsorSection h2{
    font-size: 36px;
    text-align: center;
    padding-top: 12px;
    
}
#sponsors{
  height: 120px;
  max-width: 1000px;
  margin: auto;
}
.spimage{
    height: 80%;
    margin: 20px;
}
#footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:300px;
    background-color: black;
    font-size: 20px;
}